<div class="container mt-2">
    <h2>Add New BC</h2>
    <form (ngSubmit)="addBc()">
  
        <div class="form-group">
            <label for="memberId">Choose Member:</label>
            <select
              name="memberId"
              class="form-control"
              id="memberId"
              [(ngModel)]="bc.memberId"
               
              required
            >
              <option value="" disabled selected>Select a member</option>
              <option *ngFor="let member of members" [value]="member.memberId">
                {{ member.memberName }}
              </option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="selectedMemberId">Selected Member ID:</label>
            <input
              type="text"
              name="selectedMemberId"
              class="form-control"
              id="selectedMemberId"
              placeholder="selected member MemberId"
              [(ngModel)]="bc.memberId" 
              disabled  
            />
          </div>
          
  
      <div class="form-group">
        <label for="basicAmount">Basic Amount</label>
        <input
          type="text"
          name="basicAmount"
          class="form-control"
          id="basicAmount"
          [(ngModel)]="bc.basicAmount"
          placeholder="Enter Basic Amount"
          required
        />
      </div>
      <div class="form-group">
        <label for="bidAmount">BID Amount</label>
        <input
          type="number"
          name="bidAmount"
          class="form-control"
          id="bidAmount"
          [(ngModel)]="bc.bidAmount"
          placeholder="Enter BID Amount"
          required
        />
      </div>
      <div class="form-group">
        <label for="particular">Particular</label>
        <input
          type="text"
          name="particular"
          class="form-control"
          id="particular"
          [(ngModel)]="bc.particular"
          placeholder="Enter particulars"
          required
        />
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select
            name="status"
            class="form-control"
            id="status"
            [(ngModel)]="bc.status"
            required
        >
            <option value="" disabled selected>Select Status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Closed</option>
        </select>
    </div>
    

      <div class="form-group">
        <label for="remarks">Remarks</label>
        <input
          type="text"
          name="remarks"
          class="form-control"
          id="amount"
          [(ngModel)]="bc.remarks"
          placeholder="Enter Remarks"
          required
        />
      </div>
    
      <div class="form-group">
        <label for="createdDate">Created Date</label>
        <input
          type="date" 
          name="createdDate"
          class="form-control"
          id="date"
          [(ngModel)]="bc.date"
          placeholder="Choose date"
          required
        />
      </div>
    
      <div class="form-group button-center"> 
        <button type="submit" class="btn btn-primary w-100">Add BC</button>
      </div>
      
    </form>
  </div>
  
  
