/* Add this CSS to your global styles or component styles */
.nav-link {
    cursor: pointer; /* Change cursor to pointer */
}

/* Change the background color of dropdown items on hover */
.dropdown-item:hover {
    background-color: #343a40;
    color: #fff; /* Optional: Change the text color to white for better visibility */
  }
/* Change the background color of dropdown items on hover */
.dropdown-item:hover {
    background-color: #343a40;
    color: #fff; /* Ensures the text is white for better contrast */
  }
    
