<div class="card mb-4" style="max-width: 80%; margin: 0 auto;">
    <div class="card-header text-center">
      <h5> All BC Report</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <label for="dropdown">Choose a Member:</label>
        <select id="dropdown" name="members" [(ngModel)]="selectedMemberId">
          <option [value]="null">All Members</option> <!-- Default option -->
          <option *ngFor="let member of members" [value]="member.memberId">
            {{ member.memberName }}
          </option>
        </select>
        <!-- Add a filter button -->
        <button (click)="filterTransactions()">Filter</button>

        
        
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <!-- <th>Transaction Id</th> -->
              <th>Member Name</th>
              <th>Date</th>
              <th>Basic Amount </th>
              <th>BID Amount</th>
              <th>Total Amount</th>
              <th>Particular</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of paginatedData">
              <!-- <td>{{d.transactionId}}</td> -->
              <td>{{d.memberDetails.memberName}}</td>
              <td>{{d.date | date: 'yyyy-MM-dd'}}</td>
              <td>{{d.basicAmount  | currency:'INR' }}</td>
              <td>{{d.bidAmount  | currency:'INR' }}</td>
              <td>{{d.totalAmount  | currency:'INR' }}</td>
              <td>{{d.particular}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="prevPage()">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray; let i = index" [class.active]="i + 1 === currentPage">
            <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="nextPage()">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  

