
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow" style="width: 400px;">
    <div class="card-body">
      <h2 class="text-center mb-4"><i class="fas fa-address-card"></i>
        {{ otpSent ? 'Verify Your Email Address' : 'Register Here' }}
      </h2>

      <!-- Registration Form -->
      <form *ngIf="!otpSent" #registerForm="ngForm" (ngSubmit)="save(registerForm)" novalidate>
        <div class="form-group mb-3">
          <label for="memberName"><i class="fas fa-user"></i>  User Name</label>
          <input type="text" [(ngModel)]="memberName" name="memberName" class="form-control" id="memberName" placeholder="Enter Name" required>
        </div>

        <div class="form-group mb-3">
          <label for="email"> <i class="fas fa-envelope"></i>  Email Address</label>
          <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="Enter email" required email>
        </div>

        <div class="form-group mb-3">
          <label for="password"><i class="fa-solid fa-lock"></i>  Password</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Enter password" required minlength="6">
        </div>

        <div class="form-group mb-4">
          <label for="number"><i class="fas fa-phone"></i>  Mobile Number</label>
          <input type="text" [(ngModel)]="number" name="number" class="form-control" id="number" placeholder="Enter Number" required pattern="^[0-9]{10}$">
        </div>


        <!-- Register Button, disabled when loading -->
        <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">
          Register
        </button>
      </form>

      <!-- OTP Verification Form -->
      <form (ngSubmit)="verifyOtp()" *ngIf="otpSent">
        <div class="form-group mb-3">
          <label for="otp">Enter the OTP sent to your email</label>
          <input type="text" [(ngModel)]="otp" name="otp" class="form-control" id="otp" placeholder="Enter OTP" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Verify OTP</button>
      </form>
    </div>
  </div>
</div>

